.container {
    display: flex;
    justify-content: center;
    height: 60px;
    background-color: #fff;
    box-shadow: -1px 4px 5px 4px rgba(0, 0, 0, 0.21);
    -webkit-box-shadow: -1px 4px 5px 4px rgba(0, 0, 0, 0.21);
    position: sticky;
    top: 0;
    left: 0;

    .wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        max-width: 1200px;

        .logo {
            width: 125px;
        }

        .menu {
            display: flex;
            align-items: center;
            gap: 40px;
            
            .slection {
                display: flex;
                align-items: center;
                gap: 5px;
                color: gray;
                cursor: pointer;
                position: relative;

                .cate {
                    border: none;
                    outline: none;
                    color: gray;
                    font-size: 18px;
                    font-weight: 700;
                    background-color: white;
                }

                .dropdown {
                    position: absolute;
                    top: 35px;
                    right: 0;
                    width: 200px;
                    border-radius: 5px;
                    padding: 5px;
                    background-color: #f1f1f1;
                    box-shadow: -2px 2px 5px 4px rgba(0, 0, 0, 0.08);
                    -webkit-box-shadow: -2px 2px 5px 4px rgba(0, 0, 0, 0.08);
        
                    .item {
                        display: flex;
                        justify-content: center;
                        margin-bottom: 10px;
                        text-decoration: none;
                        color: gray;
                        font-size: 18px;
                        font-weight: 500;
                    }
        
                    .item:hover {
                        background-color: gray;
                        color: black;
                    }
                }
            }

            .about {
                text-decoration: none;
                font-size: 18px;
                font-weight: 700;
                color: gray;
            }
        }
    }
}